.start_page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    .start_pageTitle{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 20px;
            margin: 0;
        }
        position: absolute;
        bottom: 3%;      
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Rockwell Condensed';
        width: 100%;
    }
}

.homePageImg{
    height: 100%;
    width: auto;
    .atlant{
        height: 100%;
        width: auto;
    }
}

.denyBooking{
    display: block;
}

@media (max-width: 500px) {
    .atlant{
        height: auto;
        width: 100%;
    }
}