.reviewsAboutUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reviewsWrapper{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review{
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color:#fff;
    border: solid 1px rgb(85, 85, 255);
    margin: 10px 0;
}

.reviewHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 700;
    border-bottom: solid 1px rgb(85, 85, 255);
}

.rateReadOnly{
    width: 100%;
    ul{
        display: flex;
        align-items: center;
    }
}

.reviewContent{
    text-align: start;
    width: 100%;
}

.reviewsPaginator{
    width: 100%;
    display: flex;
    justify-content: center;
    ul{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.addReviewBtn{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}
