//For dark theme

$main_background_color:#c9c8cf;
$main_font_color: #201F24;
$home_page_background_color: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(201,200,207,1) 62%, rgba(201,200,207,1) 100%, rgba(42,42,120,1) 100%);