
.contacts{
    padding: 10px 0 50px 0;
    a{
        font-size: 18px;
        span{
            margin-right: 10px;
            padding: 0 4px;
            border-radius: 3px;
        }
    }
    p{
        font-size: 18px;
    }
    h1{
        margin-bottom: 20px;
    }
}

.socialContacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        margin: 10px;
        padding: 7px;
        border-radius: 5px;
        transition: 0.3s;
        &:hover{
            color: #fff;
            transform: scale(1.1);
        }   
    }
}

.youtube{background: #c4302b; color: #fff;}
.instagram {
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.vk {background: #5d84ae; color: #fff;}
.whatsapp {background: #50b154; color: #fff;}
.telegram {background: #249bd7;  color: #fff;}
.phone {background: #50b154; color: #fff;}

