.datePicker{
    position: absolute;
    width: 100%;
    top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: no-wrap;
        padding: 0 5px;
    }  
    .bookingButton{
        display: inline-block;
        padding: 8px 15px;
        background-color:#000;
        color: #fff;
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
}

@media(max-width:700px) {
    .bookingButton{
        margin: 5px 0;
    }
}
