@use "../../../styles/themify.scss" as *;

.header{
    width: 100%;
    height: 50px;
    @include themify($themes) {
        background-color: themed("header_background_color");
        color: themed("header_font_color");
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    transition:  .3s;
}

.burgerMenu{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding: 0 0 0 20px;
}

.burgerMenuIcon{
    font-size: 2em;
}

.loginBlock{
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    a{
        @include themify($themes) {
            color: themed("login_font_color");
        }
    }
}

.loginIcon{
    padding-left: 5px;
    font-size: 2em;
}

.headerLabel{
    font-family: 'Rockwell Condensed';
    font-size: 20px;
    padding-left: 20px;
    width: 15%;
    text-align: start;
}

/*Header nav*/

.headerNav{
    display: flex;
    justify-content: center;
}

.headerNavItem{
    padding: 10px;
    transition: .3s;
    @include themify($themes) {
        background-color: themed("header_background_color");
        color: themed("header_font_color");
        &:hover{
            background-color: themed("header_nav_background_hover");
        color: themed("header_nav_font_color_hover");
        }
    }
}

@media (max-width: 800px) {
    .headerNav{
        display: none;
    }
    .burgerMenu{
        display: flex;
    }
    .headerLabel{
        display: none;
    }
}


